@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: auto;
    width: 80%;
    /*background-color: #1b1a1a;*/
    background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(19, 28, 32) 131%);
    color: rgba(255, 255, 255, 0.55);
    margin-bottom: 60px;
    margin-top: 3px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 80%;
    ;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    text-align: center;
}

.navbar-brand {
    font-weight: bold;
}

.btn-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.55);
    margin-right: -10px;
}

.btn-link:hover {
    color: rgba(199, 200, 201);
}

.btn-link:active {
    color: rgba(199, 200, 201);
}


.navbar-expand-lg {
    margin: 0 auto;
}

.btngradient-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 0 rgba(65, 132, 234, 0.75);
}

.btngradient-hover.color-9-s {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    width: 100%;
    height: 30px;
    margin-top: 10px;
    box-shadow: 0 0 rgba(65, 132, 234, 0.75);
}

.btngradient {
    text-align: center;
}

.btngradient-hover {
    width: 120px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 40px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btngradient-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btngradient-hover:focus {
    outline: none;
}

.auth-title {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

.auth-title h1 {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

input, label {
    display: block;
}

label {
    font-weight: bold;
    font-size: small;
    margin-bottom: 7px;
}

.form-input {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, .2);
    color: white;
}

.auth-form {
    width: 500px;
    margin: auto;
}

.auth {
    /*margin: auto;
    width: 600px;
    background: #1A1F2A;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;*/
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.55);
}

a:hover {
    color: rgba(199, 200, 201);
}

.forgotpswd {
    text-align: right;
}

.full {
    width: 100%;
}

.mt-5p {
    margin-top: 5%;
}

.swal2-popup {
    background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(19, 28, 32) 131%) !important;
}

.swal2-title, .swal2-html-container {
    color: white !important;
}

.swal2-confirm, .swal2-styled {
    border-radius: 50px !important;
    background-color: #4481eb !important;
}

.avatar {
    background-size: cover !important;
    border-radius: 50px;
    height: 38px;
    width: 38px;
    transition: .8s;
    margin-top: 4%;
    margin-left: 5px;
    cursor: pointer;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 1%;
    width: 300px;
    max-height: 0px;
    overflow: hidden;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
    animation: fadeInUp;
    animation-duration: 0.2s;
}

.sub-menu {
    background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(19, 28, 32) 131%);
    color:  rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    margin-top: -10px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background-color: rgb(94, 94, 94);
    margin: 15px 0 10px;;

}

.sub-menu a {
    display: block;
    color: rgba(255, 255, 255, 0.55);
    margin-bottom: 10px;
}

.sub-menu a:hover {
    color: rgba(199, 200, 201);
}

.menuLogout {
    color: rgb(173, 38, 38) !important;
}

.menuLogout:hover {
    color: red !important;
}

.sub-menu a i {
    margin-right: 10px;
}

.user-info h5 {
    font-weight: bold;
    font-size: medium;
}

.user-info label {
    color: orange;
}

.profilePicName {
    width: 700px;
    height: 150px;
    margin: auto;
    gap: 20px;
    display: flex;
    justify-content: center;
    padding: 1em;
    position: relative;
}

.profilePic {
    width: 100px;
    height: 100px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: auto;
    background-size: cover !important;
    cursor: pointer;
}

.profileName {
    margin-top: auto;
    margin-bottom: auto;
}

.profileName input {
    width: 300px;
}

@media only screen and (max-width: 991px) {
    body {
        width: 100%;
    }

    .footer {
        width: 100%;
    }

    .navbar {
        text-align: center;
    }

    .avatar {
        margin: auto;
    }

    .auth-title h1 {
        font-size: 25px;
    }

    .auth-title p {
        font-size: 15px;
    }

    .auth-form {
        width: 400px;
    }

    .sub-menu-wrap {
        display: flex;
        justify-content: center;
        width: 300px;
        max-height: 0px;
        overflow: hidden;
    }
}