@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: auto;
    width: 80%;
    /*background-color: #1b1a1a;*/
    background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(19, 28, 32) 131%);
    color: rgba(255, 255, 255, 0.55);
    margin-bottom: 60px;
    margin-top: 3px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 80%;
    ;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    text-align: center;
}

.navbar-brand {
    font-weight: bold;
}

.btn-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.55);
    margin-right: -10px;
}

.btn-link:hover {
    color: rgba(199, 200, 201);
}

.btn-link:active {
    color: rgba(199, 200, 201);
}


.navbar-expand-lg {
    margin: 0 auto;
}

.btngradient-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 0 rgba(65, 132, 234, 0.75);
}

.btngradient-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 0 rgba(65, 132, 234, 0.75);
}

.btngradient-hover.color-9-s {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    width: 100%;
    height: 30px;
    margin-top: 10px;
    box-shadow: 0 0 rgba(65, 132, 234, 0.75);
}

.btngradient-hover.color-11 {
    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  
    box-shadow: 0 0 rgba(242, 97, 103, .4);
}

.btngradient {
    text-align: center;
}

.btngradient-hover {
    width: 120px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 40px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btngradient-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btngradient-hover:focus {
    outline: none;
}

.page-title {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

.page-title h1 {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.page-title a {
    color: rgba(199, 200, 201);
}

.page-title a:hover {
    color: white;
}

input, label {
    display: block;
}

label {
    font-weight: bold;
    font-size: small;
    margin-bottom: 7px;
}

.form-input {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, .2);
    color: white;
}

.auth-form {
    width: 500px;
    margin: auto;
}

.auth {
    /*margin: auto;
    width: 600px;
    background: #1A1F2A;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;*/
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.55);
}

a:hover {
    color: rgba(199, 200, 201);
}

.forgotpswd {
    text-align: right;
}

.full {
    width: 100%;
}

.mt-5p {
    margin-top: 5%;
}

.mt-5 {
    margin-top: 4px;
}

.w-100p {
    width: 100%;
}

.swal2-popup {
    background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(19, 28, 32) 131%) !important;
}

.swal2-title, .swal2-html-container {
    color: white !important;
}

.swal2-confirm, .swal2-styled {
    border-radius: 50px !important;
    background-color: #4481eb !important;
}

.avatar {
    background-size: cover !important;
    border-radius: 50px;
    height: 38px;
    width: 38px;
    transition: .8s;
    margin-top: 4%;
    margin-left: 5px;
    cursor: pointer;
    transition: transform .2s; /* Animation */
    border-width: 1px;
    border-style: solid;
    border-color: white;
}

.avatar:hover {
    transform: scale(1.1);
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 1%;
    width: 300px;
    max-height: 0px;
    overflow: hidden;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
    animation: fadeInUp;
    animation-duration: 0.2s;
}

.sub-menu {
    background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(19, 28, 32) 131%);
    color:  rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    margin-top: -10px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background-color: rgb(94, 94, 94);
    margin: 15px 0 10px;;

}

.sub-menu a {
    display: block;
    color: rgba(255, 255, 255, 0.55);
    margin-bottom: 10px;
    font-size: 15px;
}

.sub-menu a:hover {
    color: rgba(199, 200, 201);
}

.menuLogout {
    color: rgb(173, 38, 38) !important;
}

.menuLogout:hover {
    color: red !important;
}

.sub-menu a i {
    margin-right: 10px;
}

.user-info h5 {
    font-weight: bold;
    font-size: medium;
}

.user-info label {
    color: orange;
    font-size: 12px;
}

.default-container {
    margin-bottom: 25px !important;
}

.default-container label {
    margin-bottom: 10px;
}

.avatarPic-container {
    width: 200px;
}

.avatarPic {
    width: 150px;
    height: 150px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    background-size: cover !important;
    cursor: pointer;
    -webkit-filter: brightness(100%);
}

.avatarPic:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.bannerPic {
    width: 100%;
    height: 200px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-size: cover !important;
    cursor: pointer;
    -webkit-filter: brightness(100%);
}

.bannerPic:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.profileName {
    margin-top: auto;
    margin-bottom: auto;
}

.profileName input {
    width: 300px;
}

.fileUpload {
    width: 700px;
    height: 150px;
    margin: auto;
    padding: 1em;
    position: relative;
}

.fileUpload .avatarPic {
    margin: auto;
    text-align: center;
    cursor:default;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-bottom: 20px;
}

.fileUpload form button {
    margin-top: 20px;
    width: 100%;
}

.warningFileUpload {
    margin-top: 10px;
}

.deleteCurrentAvatar {
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}

.settings-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.settings-nav, .settings-content  {
/*     border-color: white;
    border-width: 2px;
    border-style: solid; */
    border-radius: 10px;
}

.settings-nav {
    width: 250px;
    min-height: 800px;
    display: block;
}

.settings-nav-item {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 13px;
    display: block;
    margin-bottom: 10px;
}

.settings-nav-item:hover {
    background-image: linear-gradient(to right, #1b1e29 , #1C202E);
}

.settings-nav-item-selected {
    background-image: linear-gradient(to right, #161922 , #1C202E);
}

.settings-nav-item-selected:hover {
    background-image: linear-gradient(to right, #161922 , #1C202E);
}

.settings-nav-item i {
    margin-right: 10px;
}

.settings-content {
    padding: 30px;
    width: 900px;
    min-height: 800px;
    background: linear-gradient(180.2deg, rgb(25, 27, 43) 6.8%, rgb(20, 28, 31) 131%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
/*     border-right-width: 4px;
    border-right-color: #171E26;
    border-right-style: solid;

    border-left-width: 4px;
    border-left-color: #171E26;
    border-left-style: solid;

   border-top-width: 4px;
    border-top-color: #171E26;
    border-top-style: solid;

    border-bottom-width: 4px;
    border-bottom-color: #171E26;
    border-bottom-style: solid; */

    position: relative;
}

.delete-account {
    width: 250px;
}

.request-data {
    width: 250px;
}

.submit-all {
    width: 250px;
    position: absolute;
    right: 2%;
    bottom: 2%;
}

.profil-color-palette {
    display: flex;
    gap: 10px;
}

.profil-color-palette-item {
    width: 50px;
    height: 50px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
}

.profil-color-palette-item:hover {
    transform: scale(1.1);
}

.profil-color-palette-item.blue {
    background-color: #3DB4F2
}

.profil-color-palette-item.purple {
    background-color: #C063FF;
}

.profil-color-palette-item.green {
    background-color: #4CCA51;
}

.profil-color-palette-item.orange {
    background-color: #EF881A;
}

.profil-color-palette-item.red {
    background-color: #E13333;
}

.profil-color-palette-item.pink {
    background-color: #FC9DD6;
}

.profil-color-palette-item.grey {
    background-color: #677B94;
}


@media only screen and (max-width: 991px) {
    body {
        width: 100%;
    }

    .footer {
        width: 100%;
    }

    .navbar {
        text-align: center;
    }

    .avatar {
        margin: auto;
    }

    .page-title h1 {
        font-size: 25px;
    }

    .page-title p {
        font-size: 15px;
    }

    .auth-form {
        width: 400px;
    }

    .sub-menu-wrap {
        display: flex;
        justify-content: center;
        width: 300px;
        max-height: 0px;
        overflow: hidden;
    }

    .fileUpload {
        width: 90%;
    }

    .avatarPicName {
        width: 90%;
    }
}